:root > * {
--md-primary-fg-color: #B53AD2;
--grey: #A0A0A0;
/* background-color: #F8F9FA; */
background-color: #ECF0F4;
}


/* ::::::::::::: General ::::::::::::: */

.md-sidebar--primary >* {
    border-right: 1px solid #CDCDCD;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gcontainer {
    background-color:rgba(255,255,255,0.7)
}


/* ::::::::::::: Borders ::::::::::::: */

.rounded {
    border-radius: 7px;
}

/* ::::::::::::: Colors ::::::::::::: */

.primary {
   color: #B53AD2
}

.success {
    color: #0c6
}

.success-contrast {
    color: #02994E!important;

}

.warning {
    color: #f88600;
}

.danger {
    color: #e62510;
}

.gray {
    color: #868E96;
}

.text-standard {
    color: #484848;
}

/* ::::::::::::: Boxes ::::::::::::: */

.box-dark {
    background-color: #EDEFF0;
}

.category {
    width: 300px;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 7px;
    text-decoration: none !important;
    transition: all .3s !important;
}

.category:hover {
    outline: 1px solid #EAEDEF;
    background-color: #FAFDFF;
    outline: none;
    box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
    -webkit-box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
} 

/* ------------- Descriptions ------------- */
.md-typeset .admonition.box,
.md-typeset details.box {
    border: none;
    background-color: white !important;
}

.md-typeset .admonition.box_alert
.md-typeset details.box_alert {
    border: none;
    background-color: white !important;
}

.md-typeset .box .box_alert > .admonition-title,
.md-typeset .box .box_alert > summary {
    background-color: white;
    border: none;
}

.md-typeset .box .box_alert> .admonition-title::before,
.md-typeset .box .box_alert> summary::before {
    background-color: var(--md-primary-fg-color);
}

.md-typeset .admonition.box, .md-typeset details.box {
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

}

.md-typeset .admonition.box_alert, .md-typeset details.box_alert {
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    background-color: #EDEDED;
    border: none;
}

.md-typeset :is(.admonition,details) {
    margin: .7rem 0;
}

.md-typeset :-webkit-any(.admonition,details) {
    margin: .7rem 0;
}

[dir=ltr] .md-typeset :is(.admonition-title,summary) {
    margin-left: -0.2rem;
    margin-right: -0.2rem;
    padding: 0.5rem;
    color: black;
}

[dir=ltr] .md-typeset :is(.admonition-title,summary):hover {
    margin-left: -0.2rem;
    margin-right: -0.2rem;
    padding: 0.5rem;
    color: var(--md-primary-fg-color);
    border-bottom: #F8F9FA;
    font-weight: 700;
}

[dir=ltr] .md-typeset :-webkit-any(.admonition-title,summary) {
    margin-left: -0.2rem;
    margin-right: -0.2rem;
    padding: 0.5rem;
    color: black;
    font-weight: 400;

}

[dir=ltr] .md-typeset :-webkit-any(.admonition-title,summary):hover {
    margin-left: -0.2rem;
    margin-right: -0.2rem;
    padding: 0.5rem;
    color: var(--md-primary-fg-color);
    border-bottom: #F8F9FA;
}

.md-typeset .box > summary::before {
    display: none;
}

/* ------------- Tips ------------- */

.admonition.note {
    border-left: 7px solid #B53AD2 !important;
}

.admonition.tip {
    border-left: 7px solid #00C849 !important;
}

.admonition.tip-mini {
    background-color: transparent;
    border: 1px solid #00C849 !important;
    border-left: 7px solid #00C849 !important;
}

.admonition.warning {
    border-left: 7px solid #FFCE4C !important;
}

.admonition.danger {
    border: 1px solid #FF4A4B !important;
    border-left: 7px solid #FF4A4B !important;
    background-color: #FFF7F7;
    font-weight: 700;
    color: #FF4A4B;
}

.admonition.intralink {
    display: flex;
    margin: 2rem 0 3rem 0;
    background-color: white;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px !important;
    -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px !important;
}

.admonition.intralink >* {
    margin-left: auto;
    margin-right: auto;
}

.admonition.intralink {
    display: flex;
    margin: 2rem 0 3rem 0;
    background-color: white;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px !important;
    -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px !important;
}

.admonition.intralink >* {
    margin-left: auto;
    margin-right: auto;
}

.admonition.bread {
    border-left: none !important
}

.md-typeset .admonition, .md-typeset details {
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px; */
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 7px;
}   

.md-typeset :is(.admonition,details) {
    font-size: .7rem;
}

/* ------------- Absätze (p) ------------- */
.md-typeset .admonition.p,
.md-typeset details.p {
    border: none;
    background-color: white;
    padding-bottom: 1.5rem;
}

.md-typeset .admonition.p, .md-typeset details.p {
    box-shadow: none;
    -webkit-box-shadow: none;
}  

/* ::::::::::::: Fonts ::::::::::::: */


.md-typeset h1 {
    font-weight: 200;
    font-size: 2rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #B53AD2;
    color: var(grey);
}

.md-typeset h2 {
    font-weight: 600;
    margin-top: .5rem;
    border-bottom: 1px solid #CDCDCD;
    color: var(--md-primary-fg-color);
}

.md-typeset h3 {
    font-size: large;
    color: var(--md-primary-fg-color);
}

.md-typeset h4 {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--grey);
    margin: 0;
}

.small {
    font-size: smaller;
}

/* ::::::::::::: Images ::::::::::::: */

.img-head {
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.img-norm {
    max-width: 200px !important;
    border-radius: 7px;
    border: 1px solid #E7EAED;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}


.img-inline {
    width: 75px;
    margin-bottom: -.5rem;
    border-radius: 7px;
    border: 1px solid #E7EAED;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.gslide-image img {
    border-radius: 7px;   
}

.glightbox-clean .gslide-media {
    border-radius: 7px;
} 

.image {
    border: 1px solid #E7EAED;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius: 7px;
    margin: .3rem;
}

.image-75 {
    border: 1px solid #E7EAED;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius: 7px;
    margin: .3rem;
    width: 75%;
}

.image-30 {
    border: 1px solid #E7EAED;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius: 7px;
    margin: .3rem;
    width: 30%;
}

.img-small-left {
    width: 75px !important;
    border: none !important;
    box-shadow: none !important;
    margin: 1rem 2rem 1rem 1rem !important;
}

.img-small-inline {
    width: 25px !important;
    border: none !important;
    box-shadow: none !important;
    padding-top: 0.2rem;
}

.img-small-right {
    width: 100px !important;
    border: none !important;
    box-shadow: none !important;
    margin: 1rem 0 1rem 2rem!important;
}

.img-x-small {
    display: flex;
    margin: 1.5rem auto;
    width: 75px !important;
}

.image-thumb {
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    display: flex;
    margin: 1.5rem auto;
    height: 380px !important;
}

.img-caption {
    font-style: normal !important;
    font-weight: 600 !important;
    color: var(--md-primary-fg-color);
}

.img-nav {
    border: 1px solid #E7EAED;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius: 7px;
    margin: .3rem;
    height: 40px !important;
}

.arrow-nav {
    margin: .3rem 0;
    height: 40px !important;
}

.scale {
    transition: transform .5s ease;
}

.scale:hover {
    transform: scale(1.1);
}

.icon_green {
    color: #00C84A !important;
}

.icon_green_large {
    color: #00C84A !important;
    font-weight: 800;
    font-size: x-large;
}


/* ::::::::::::: Flex ::::::::::::: */

.space-around {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.start {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.end {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.figure {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.align-center {
    display: flex;
    justify-self: center;
}

/* ::::::::::::: Table ::::::::::::: */

table {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0px 1px 2px 0 rgba(0,0,0,0.06);
    border-radius: 7px !important;
    border: none !important;
    padding: 1rem;
    width: 100%;
}



/* ::::::::::::: Position ::::::::::::: */

.center {
    text-align: center;
}

.padding_small {
    padding: .5rem;
}

.padding_large {
    padding: 2rem;
}

.footer {
    position: absolute;
    padding-top: 1rem;
    bottom: 50px;
    right: 10px;
    font-size: 12px;
}

.md-button {
    padding: 3px 10px !important;
    border-radius: 7px !important;
    font-weight: 400 !important;
    font-size: small;
    border: 1px solid #B53AD2 !important;
    background-color: #FCF5FE !important;
    color: #781F89 !important;
    cursor:  pointer !important;
}

.md-button:hover {
    background-color: #F7E9FE !important;
}

.md-button-xl {
    padding: 3px 10px !important;
    border-radius: 7px !important;
    font-weight: 400 !important;
    border: 1px solid #B53AD2 !important;
    background-color: #FCF5FE !important;
    color: #781F89 !important;
    cursor:  pointer !important;
}

.md-button-xl:hover {
    background-color: #F7E9FE !important;
}

.mt-2 {
    margin-top: 2rem;
}

.mx-1 {
    margin-left: .25rem;
    margin-right: .25rem;
}

.my-1 {
    margin: 1rem 0;
}

.p-1 {
    padding: 1rem;
}

.md-search__form {
    border-radius: 7px;
}